<h1>Sound Wall</h1>

<%= link_to 'Submit a song!', new_track_path %>

<table>

  <thead>
    <tr>
      <th data-field="upvotes">Upvotes</th>
      <th data-field="title">Title</th>
      <th data-field="artist">Artist</th>
      <th data-field="submitted_by">Submitted By</th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.votes %></td>
        <td><a href="/tracks/<%= track.id %>"><%= track.title %></a></td>
        <td><%= track.artist %> </td>
        <td><%= track.user_id %> </td>
        <td><%= button_to "Upvote", handle_upvote_tracks_path(track_id: track.id) %></td>
      </tr>
    <% end %>
  </tbody>

</table>
