<%= form_for @track, :html => {:multipart => true} do |f| %>
  <% if @track.errors.any? %>
    <div>
      <%= pluralize(@track.errors.count, "error") %> prevented the track from being saved:
      <ul>
        <% @track.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label "Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Artist" %><br>
    <%= f.text_field :artist %>
  </div>
  <div>
    <%= f.label "Genre" %><br>
    <%= f.text_field :genre %>
  </div>
  <div>
    <%= f.label "URL" %><br>
    <%= f.text_field :url %>
  </div>
  <div><%= f.submit "Submit" %></div>
<% end %>

